.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* flexOne */
.flexOne{
    border: solid 3px red;
    display: flex;
}
.flexOne > .square{
    margin: 5px;
}

/* flexTwo */
.flexTwo{
    border: solid 3px red;
    display: flex;
    flex-direction: column;
}
.flexTwo > .square{
    margin: 2px;
}

/* flexThree */
.flexThree{
    border: solid 3px red;
    display: flex;
    flex-direction: row-reverse;
}
.flexThree > .square{
    margin: 2px;
}

/* flexFour */
.flexFour{
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    border: solid 3px red;
}
.flexFour > .square{
    margin: 5px;
    background-color: #3d8b6d;
}

/* flexFive */
.flexFive{
    display: flex;
    width: 350px;
    border: solid 3px red;
}
.flexFive > .item{
    margin: 2px;
    height: 100px;
    width: 100px;
    background-color: #0b6643;
}
#grow{
    flex-grow: 2;
}

/* flexSix */
.flexSix{
    height: 400px;
    width: 500px;
    background-color: #f1f1f1;
    border: solid 3px red;
    display: flex;
    flex-direction: column;
}
.flexSix > .one{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.flexSix > .two{
    display: flex;
    justify-content: space-between;
    background-color: #d6d6d6;
    margin: 20px;
}
.flexSix > .three{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

/* flexSeven */
.flexSeven{
    height: 400px;
    width: 500px;
    border: solid 3px red;
    display: flex;
    justify-content: space-between;
}
.flexSeven > .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexSeven > .two{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.flexSeven > .three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flexSeven > .four{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* flexEight */
.flexEight{
    height: 400px;
    width: 300px;
    background-color: #eeeeee;
    border: solid 3px red;
    display: flex;
}
.flexEight > .one{
    display: flex;
    align-items: center;
}
.flexEight > .two{
    display: flex;
    align-items: flex-end;
}
.flexEight > .three{
    display: flex;
    align-items: flex-start;
}

/* flexNine */
.flexNine{
    height: 250px;
    width: 450px;
    background-color: #eeeeee;
    border: solid 3px red;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
#special{
    align-self: flex-end;
}